<!--
  This template loads for the 'favorite' state (app.js)
  items is a $scope variable on FavoriteCtrl (controllers.js)
  The FavoriteCtrl pulls data from Items service (service.js)
  The Items service returns array of items data
-->
<ion-view view-title="Favorite">

  <ion-content class="stable-bg">

    <ion-list>
      <ion-item class="item-thumbnail-left card" ng-repeat="item in items">
        <img src="{{ item.thumb }}" alt=""/>
        <h2>{{ item.name }}</h2>
        <div>
          <h2 class="price pull-left balanced">${{ item.price }}</h2>
          <div class="pull-right button button-balanced button-card">
            <i class="ion-ios-cart-outline"></i>
          </div>
        </div>

        <ion-option-button class="dark-bg light" ng-click="remove($index)">
          <i class="icon ion-trash-a padding"></i>
        </ion-option-button>
      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>
