<ion-view view-title="Login" hide-nav-bar="true" class="login-bg">
  <ion-content class="login-bg">

    <div class="login-content">

      <!-- Logo -->
      <div class="padding text-center">
        <div class="logo balanced-bg">
          <i class="light ion-android-restaurant"></i>
        </div>
        <h2 class="light">
          Food Delivery
        </h2>
      </div>

      <!-- Login form -->
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input type="text">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Password</span>
          <input type="password">
        </label>
      </div>

      <p class="text-right balanced">Forgot Password?</p>

      <div>
        <button class="button button-block button-balanced" ui-sref="home">
          SIGN IN
        </button>

        <p class="text-center light">Or</p>

        <button class="button button-block facebook-login" ui-sref="home">
          Sign in with Twitter
        </button>
        <button class="button button-block twitter-login" ui-sref="home">
          Sign in with Facebook
        </button>
      </div>


      <!-- Other links -->
      <div class="text-center">
          <a ui-sref="register" class="light">New here? <span class="balanced">Sign up</span></a>
      </div>

    </div>

  </ion-content>
</ion-view>
