<ion-view view-title="Login" hide-nav-bar="true" class="login-bg">
  <ion-content class="login-bg">

    <div class="login-content">

      <!-- Logo -->
      <div class="padding text-center">
        <div class="logo balanced-bg">
          <i class="light ion-android-restaurant"></i>
        </div>
        <h2 class="light">
          Food Delivery
        </h2>
      </div>

      <!-- Login form -->
      <div class="list">

        <label class="item item-input item-stacked-label">
          <span class="input-label">Name</span>
          <input type="text">
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input type="text">
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Password</span>
          <input type="password">
        </label>


      </div>

      <div class="padding-top">
        <button class="button button-block button-balanced" ui-sref="home">
          SIGN UP
        </button>
      </div>


      <!-- Other links -->
      <div class="text-center">
        <a ui-sref="login" class="light">I have <span class="balanced">an account</span></a>
      </div>

    </div>

  </ion-content>
</ion-view>

