<!--
  This template loads for the 'user' state (app.js)
-->
<ion-view view-title="Profile" class="has-footer-buttons">

  <ion-content>

    <!-- Cover and profile picture -->
    <div class="profile-cover">
      <div class="row">

        <div class="col-33 text-center">
          <img class="profile-picture circle" src="img/people/max.png">
        </div>

        <div class="col-66">
          <h4 class="padding-top no-margin light">Adam Lambert</h4>
          <span class="balanced">Edit photo</span>
        </div>

      </div>
    </div>

    <!-- User infomation -->
    <div class="list">

      <label class="item item-input item-stacked-label">
        <span class="input-label balanced">Name</span>
        <input type="text" placeholder="John Smith">
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label balanced">Phone</span>
        <input type="text" placeholder="" value="+849123456789">
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label balanced">Email</span>
        <input type="text" placeholder="" value="successdt@hotmail.com">
      </label>


      <label class="item item-input item-stacked-label">
        <span class="input-label balanced">Password</span>
        <input type="password" placeholder="" value="123456">
      </label>

    </div>

  </ion-content>

  <ion-footer-bar class="bar-balanced">
    <div class="row item-button-group">

      <div class="col button button-stable">
        CANCEL
      </div>

      <div class="col button button-balanced">
        SAVE
      </div>
    </div>
  </ion-footer-bar>
</ion-view>
